/* ValidationForm.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  position: relative;
}
section {
  width: 90%;
  height: auto;
  margin: 60px auto 40px auto;
}
.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

span.error {
  color: #ff0000;
  font-size: 14px;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

/* Media Queries */
@media (max-width: 600px) {
  .form-container {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  input {
    width: 100%;
  }
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
  }
}
